@model IEnumerable<AppVendasWeb.Models.Cliente>

@{
    ViewData["Title"] = "Cadastro de Clientes";
}

<h1 class="display-5 text-light my-5">Cadastro de Clientes</h1>

<p>
    <a asp-action="Create" class="btn btn-lg btn-outline-light d-inline-flex align-items-center">
        <svg class="me-3" bootstrap-icon="PlusLg" width="20" height="20" aria-label="Adicionar"></svg> Adicionar
    </a>
</p>

<div>
    <form method="post" asp-action="Search">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="searchString"
                   placeholder="Pesquisar por nome" aria-label="Pesquisar por nome"
                   aria-describedby="button-addon2">
            <button class="btn btn-outline-light" type="submit" id="button-addon2">
                <svg bootstrap-icon="Search" width="16" height="16" aria-label="Pesquisar"></svg>
            </button>
        </div>
    </form>
</div>

<div class="table-responsive">
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClienteNome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CPF)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Celular)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataCadastro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CadastroAtivo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClienteNome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataNascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Celular)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCadastro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CadastroAtivo)
                    </td>
                    <td class="tex">
                        <a class="text-decoration-none link-light" asp-action="Edit" asp-route-id="@item.ClienteId">
                            <svg class="mx-2" bootstrap-icon="PencilFill" width="16" height="16" aria-label="Editar"></svg>
                        </a>
                        <a class="text-decoration-none link-light" asp-action="Details" asp-route-id="@item.ClienteId">
                            <svg class="mx-2" bootstrap-icon="CardList" width="16" height="16" aria-label="Detalhes"></svg>
                        </a>
                        <a class="text-decoration-none link-light" asp-action="Delete" asp-route-id="@item.ClienteId">
                            <svg class="mx-2" bootstrap-icon="Trash" width="16" height="16" aria-label="Excluir"></svg>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>